@model Task1.Models.Student
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>@if (ViewBag.ErrMsg != null)
        {
            <h3 class="text text-danger" >@ViewBag.ErrMsg</h3>
        }
        
    </div>

<form method="post" asp-controller="Student" asp-action="Search" >
    
    <div>
        <label >Choose Search Field:</label>
        <select name="searchField">
            <option value="Name">Student Name</option>
            <option value="ID">Student ID</option>
            <option value="IDNumber">Student ID Number</option>
        </select>
    </div>

    <br><br>
    
    <label>Enter Search Data: </label>
    <input type="text" name="searchValue" />
    <br /><br />

    <input type="submit" value="Srearch" />
</form>

<br /><br /><br />

@if (@Model != null)
{
    
<h1 class="text text-decoration-underline">User Full Informations:</h1> <br />

<div>
    <ul>
        <li>User Id: @Model.User.Id</li><br />
        @if(@Model.User.state.ToString() == "0"){
            <li>User State: <span class="text text-danger ">Blocked</span></li><br />
        }else{
            <li>User State: <span class="text text-success ">Active</span></li><br />
        }

        <li>Student Id: @Model.Id</li><br />
        <li>IdNumber : @Model.IdNumber</li><br />
        <li>Full Name: @Model.FirstName @Model.FatherName @Model.GrandFatherName @Model.LastName</li><br />
        <li>Gender: @Model.Gender</li><br />
        <li>Photograph Image: <img src="~/ImagesApp/@Model.Photograph" style="max-width:200px;" class="img-thumbnail" /></li><br />
        <li>Id Photo Image: <img src="~/ImagesApp/@Model.IdPhoto" style="max-width:200px;" class="img-thumbnail" /></li><br />
        <li>Address: @Model.Address</li><br />
        <li>Mobile Number: @Model.MobileNumber</li><br />
        <li>Date Of Birth: @Model.DateOfBirth.ToString("dd/mm/yyy")</li><br />
        <li>Date Of Enrollment School: @Model.DateOfEnrollmentSchool.ToString("dd/mm/yyy")</li><br />
        <li>Level: @Model.Level</li><br />
        <li>Evaluate Last Year: @Model.EvaluateLastYear</li><br />
        <li>Time Of Registration Student On System : @Model.TimeOfRegistrationOnSystem.ToString("hh:mm:ss tt")</li><br />
        <li>Time Of Registration User On System : @Model.User.TimeOfRegistrationOnSystem.ToString("hh:mm:ss tt")</li><br />
    </ul>
</div>
}

